<%= link_to 'Restaurants index', "/restaurants"%>
<br>
<%= link_to 'Menu Items Index', "/menu_items"%>

<h1>Menu Items</h1>

<% @menu_items.each do |item| %>
  <p>
    <h3><a href="/menu_items/<%= item.id %>"><%= item.name %></a></h3>
    <ul>
    <li><%="Vegetarian?: #{item.vegetarian}"%></li>
    <li><%="Calories: #{item.calories}"%></li>
    <li><%="ID: #{item.id}"%></li>
    <li><%="Restaurant ID: #{item.restaurant_id}"%></li>
    <li><%="Created At: #{item.created_at}"%></li>
    <li><%="Updated At: #{item.updated_at}"%></li>
    </ul>
  </p>
<% end %>
