<a href="/menu_items">Menu Items Index</a>

<h1><%= @menu_item.name %></h1>

<ul>
  <li><%= "Vegetarian?: #{@menu_item.vegetarian}" %></li>
  <li><%= "Calories: #{@menu_item.calories}" %></li>
  <li><%= "ID: #{@menu_item.id}" %></li>
  <li><%= "Restaurant ID: #{@menu_item.restaurant_id}" %></li>
  <li><%= "Created At: #{@menu_item.created_at}" %></li>
  <li><%= "Updated At: #{@menu_item.updated_at}" %></li>
</ul>
