<%= link_to 'Restaurants index', "/restaurants"%>
<br>
<%= link_to 'Menu Items Index', "/menu_items"%>

<h1><%= @menu_item.name %></h1>

<ul>
  <li><%= "Vegetarian?: #{@menu_item.vegetarian}" %></li>
  <li><%= "Calories: #{@menu_item.calories}" %></li>
</ul>
