<h1><%= @restaurant.name %>

<% @menu_items.each do |item| %>
  <h3><%=item.name%></h3><%= button_to "Edit #{item.name} Info", "/menu_items/#{item.id}/edit", method: :get %>
  <%= button_to "Delete #{item.name}", "/menu_items/#{item.id}", method: :delete %>
  <ul>
    <li><%="Calories: #{item.calories}"%></li>
    <li><%="Vegetarian?: #{item.vegetarian}"%></li>
  </ul>
<%end%>

<%= link_to 'Add Menu Item', "/restaurants/#{@restaurant.id}/menu_items/new"%><br>
<%= link_to 'Alphabetize', "/restaurants/#{@restaurant.id}/menu_items?ordered=alphabetical"%>
