<h1><%= @restaurant.name %>

<% @restaurant.menu_items.each do |item| %>
  <h3><%=item.name%></h3>
  <ul>
    <li><%="Calories: #{item.calories}"%></li>
    <li><%="Vegetarian?: #{item.vegetarian}"%></li>
    <li><%="ID: #{item.id}"%></li>
    <li><%="Restaurant ID: #{item.restaurant_id}"%></li>
    <li><%="Created At: #{item.created_at}"%></li>
    <li><%="Updated At: #{item.updated_at}"%></li>
  </ul>
<%end%>
