<%= link_to 'Restaurants index', "/restaurants"%>
<br>
<%= link_to 'Menu Items Index', "/menu_items"%>

<h1><%= @restaurant.name %></h1>
<h6><%= link_to "Restaurant Menu", "/restaurants/#{@restaurant.id}/menu_items" %></h6>

<ul>
  <li><%= "Number of Menu Items: #{@restaurant.menu_items.length}" %></li>
  <li><%= "Yelp Rating: #{@restaurant.yelp_rating}" %></li>
  <li><%= "Delivery?: #{@restaurant.delivery}" %></li>
</ul>
