<a href="/restaurants">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>

<ul>
  <li><%= "Yelp Rating: #{@restaurant.yelp_rating}" %></li>
  <li><%= "Delivery?: #{@restaurant.delivery}" %></li>
  <li><%= "ID: #{@restaurant.id}" %></li>
  <li><%= "Created at: #{@restaurant.created_at}" %></li>
  <li><%= "Updated at: #{@restaurant.updated_at}" %></li>
</ul>
